html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/background.png');
}

body h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    text-shadow: 3px 3px #999999;
}

.container {
    width: 55%;
    margin: 0 auto;
    display: flex;
    
}

.column1 {
    float: left;
    width: 75%;
    background-color: #EEEEEE;
}

.column2 {
    float: left;
    width: 25%;
    background-color: #A2B964;
}

.top {
    background-image: url('images/rbg.png');
    font-size: 48pt;
    color: red;
    font-weight: bold;
    margin-bottom: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin-left: 5%;
}

.flex-container q {
    margin-left: 5px;
    font-style: italic;
}

.flex-container img {
    margin-right: 5px;
}

.flex-container p {
    font-size: 13pt;
}

#comment {
    font-size: 13pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    border: #cccccc solid 2px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 5px;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    padding: 15px;
}

dd ul {
    list-style: none;
    padding-left: 0;
}

.publication {
    margin-left: 45px;
}

#w3c {
    position: fixed;
    bottom: 5px;
    right: 0;
}







